@import './../../../assets/styles/_variables.scss';

.tc-terms-of-service {
  width: 100%;
  line-height: 20px;
}

.tc-terms-of-service * {
  font-size: $font-size-sm;
  color: $gray-500;
}

.tc-terms-of-service__link,
.tc-terms-of-service__item {
  text-decoration: none;
  margin: 0px $spacing-8;
  display: inline-block;
}

.tc-terms-of-service__item:hover {
}

.tc-terms-of-service__link:hover {
  text-decoration: underline;
}
