@import './../../../assets/styles/_variables.scss';

.tos-wrapper {
  width: 100%;
  line-height: 20px;

  .tos-wrapper__item--link,
  .tos-wrapper__item,
  .tos-wrapper__item--showMore {
    text-decoration: none;
    margin: $spacing-8;
  }

  .tos-wrapper__item--link:hover {
    text-decoration: underline;
  }

  .tos-wrapper__item--showMore:hover {
    text-decoration: underline;
    cursor: pointer;
  }
}

.tos-wrapper * {
  font-size: $font-size-sm;
  color: $gray-500;
}
