@import './../../../assets/styles/_variables.scss';

.popup__item {
  display: flex;
  align-items: center;
}

.popup__item:hover {
  background-color: $gray-100;
  transition: 0.3s;
  cursor: pointer;
}

.popup__item-image {
  padding: $spacing-16;
  width: 20px;
}

.popup__item-text {
  flex-grow: 1;
  padding: $spacing-16 $spacing-16 $spacing-16 0;
}
