@import './../../../assets/styles/_variables.scss';

.tc-recommended-users-to-follow-list {
  width: 100%;
  background-color: $gray-100;
  border-radius: $radius-16;
  margin-bottom: $spacing-16;
}

.tc-recommended-users-to-follow-list__header {
  padding: $spacing-16 $spacing-16 $spacing-8 $spacing-16;
}

.tc-recommended-users-to-follow-list__header__title {
  font-weight: $font-weight-bolder;
  font-size: $font-size-xl;
}

.tc-recommended-users-to-follow-list__options {
  border-bottom-left-radius: $radius-16;
  border-bottom-right-radius: $radius-16;
  padding: $spacing-16;
  transition: 0.3s;
}

.tc-recommended-users-to-follow-list__options:hover {
  background-color: $gray-200;
  cursor: pointer;
}

.tc-recommended-users-to-follow-list__options__text {
  font-size: $font-size-md;
  color: $primary-blue;
}
