@import './../../../assets/styles/_variables.scss';

.searchbar {
  display: flex;
  width: 400px;
  background-color: $search-bar;
  margin-bottom: 50px;
  border-radius: $radius-32;
  box-sizing: border-box;
  font-size: $font-size-xl;
  border: 1px solid transparent;
  transition: 0.3s;

  .searchbar__search-icon {
    color: $gray-700;
    padding: $spacing-16;
  }

  .searchbar__search-icon--active {
    color: $primary-blue;
  }

  .searchbar__input {
    background-color: transparent;
    border: 0;
    flex-grow: 1;
    font-size: $font-size-lg;
    outline: none;
  }
}

.searchbar--active {
  border: 1px solid $primary-blue;
  color: $primary-blue;
  background-color: transparent;
}
