@import './../../../assets/styles/_variables.scss';

.searchbar {
  display: flex;
  width: 100%;
  background-color: $search-bar;
  border-radius: $radius-32;
  font-size: $font-size-xl;
  border: 1px solid transparent;
  transition: 0.3s;
  margin: $spacing-16 0;

  .searchbar__search-icon {
    color: $gray-700;
    width: 20px;
    padding: $spacing-8 $spacing-16;
  }

  .searchbar__search-icon--active {
    color: $primary-blue;
  }

  .searchbar__input {
    background-color: transparent;
    border: 0;
    flex-grow: 1;
    font-size: $font-size-lg;
    outline: none;
  }
}

.searchbar--active {
  border: 1px solid $primary-blue;
  color: $primary-blue;
  background-color: transparent;
}
