/***********************************
************** COLORS **************
***********************************/

$primary-blue: #1d9bf0;
$light-blue: #1d9bf01a;
$search-bar: #eff3f4;

$gray-900: #363636;
$gray-700: #5e5e5e;
$gray-500: #808080;
$gray-400: #b6b6b6;
$gray-300: #dbdbdb;
$gray-200: #ececec;
$gray-100: #f8f8f8;

$white: #ffffff;
$black: #000000;

:export {
  primaryBlue: $primary-blue;
  gray900: $gray-900;
}

/***********************************
************* SPACING **************
***********************************/

$spacing-2: 2px;
$spacing-4: 4px;
$spacing-8: 8px;
$spacing-16: 16px;
$spacing-32: 32px;
$spacing-64: 64px;
$spacing-128: 128px;

$radius-4: 4px;
$radius-8: 8px;
$radius-16: 16px;
$radius-32: 32px;
$radius-64: 64px;

/***********************************
************** FONTS ***************
***********************************/

$font-family-primary: 'Roboto', sans-serif;
$font-color-primary: #0f1419;

$font-size-sm: 12px;
$font-size-md: 14px;
$font-size-lg: 16px;
$font-size-xl: 20px;
$font-size-xxl: 32px;
$font-size-xxxl: 48px;

$line-height-sm: 18px;
$line-height-md: 21px;
$line-height-lg: 24px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;
$font-weight-bolder: 900;
